--Requirements--

Grundrequirements:
-Nicht Technisch
Stammdaten: Specs, Kompatibilität

-Technisch
Datenbank (Kai)- nächstes mal
jQuery
Search Optimization

Benutzerverwaltung:
Loginsystem (Sign Up, Login, Logout) (Riedo)- nächstes mal
Differierung zwischen Angemeldet/Anonym

Produktkatalog: (Kai)- nächstes mal
Filterfunktion
Suchfunktion

Design:
HTML Struktur
Navigation (Kai)- nächstes mal
CSS Design
Bilder (Marti)- nächstes mal

Wizard: (Marti)- nächstes mal
Step by Step

Warenkorb: (Riedo)- nächstes mal
Managefunktion (Menge ändern, löschen)
Checkout

OR Mapper: (Riedo) - nächstes mal
Proppel