--Requirements--

Grundrequirements:
-Nicht Technisch
Stammdaten: Specs, Kompatibilität

-Technisch
Datenbank (Kai)- done
jQuery - done
Search Optimization - ???

Benutzerverwaltung:
Loginsystem (Sign Up, Login, Logout) (Riedo)- Login done, Rest offen
Differierung zwischen Angemeldet/Anonym - done

Produktkatalog: (Kai)- done
Filterfunktion - done
Suchfunktion - done

Design:
HTML Struktur - done
Navigation (Kai)- done
CSS Design - done
Bilder (Marti)- nächstes mal

Wizard: (Marti)- nächstes mal
Step by Step

Warenkorb: (Riedo)- nächstes mal
Managefunktion (Menge ändern, löschen)
Checkout

OR Mapper: (Riedo) - nächstes mal
Proppel